
/* MD Modifictaion 10/09 start */
nav {
    height: 10vh;
    background-color: rgb(28, 88, 28);
    width: 100%;
    color: tan
}

main {
    height: 90vh;
    background-color: tan;
    width: 100%;
}

#canvas {
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/41/2d/80/waterton-lake-national.jpg?w=600&h=400&s=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#location {
    background-color: rgb(231, 228, 228);
    padding: 50px;
}

#search-bar {
    background-color: white;
}

/* MD Modification 10/09 End */
/* Begin of modification by Shreya M for dynamically created cards in JS file */
img{
    align-items: flex-end;
    height: 200px;
    width:260px;
    margin-top: 5%;
}
.product-card{
    margin:auto;
    height: 100%;
    width: 100%;
    display:flexbox;
    background-color: aliceblue;

}
/* End of modification by Shreya M for dynamically created cards in JS file */


/* SilviaZ Modification 10/11 start*/
#weather{
    display:flex;
    flex-wrap: wrap;
    width:300px;
    margin:10px;
    justify-content: center;
}

.weather-box{
    background-color: rgb(115, 145, 115);
    color:aliceblue;
    width:40%;
    margin:10px;
    padding:5px;
    border-radius: 5px;
}

.weatherIconImg {
    max-width:30px;
    height: 30px;
}

/* SilviaZ Modification 10/11 end*/

/* SilviaZ Modification data info 10/11 start */
#canvas{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

/* // Begin of modification by Shreya M for adding Modal in local summary /////// */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* // End of modification by Shreya M for adding Modal in local summary /////// */